{% extends 'layout/base.html' %}
{% block title %} Quản Lý Phòng Mạch {% endblock %}
{% block content %}
<div class="container_btn_cn">
    <button type="button" class="btn btn-success btn_cn">HOÀN TẤT DANH SÁCH KHÁM</button>
    <button type="button" class="btn btn-dark btn_cn">THANH TOÁN</button>
    <button type="button" class="btn btn-warning btn_cn">BÁO CÁO THỐNG KÊ</button>
    <button type="button" class="btn btn-info btn_cn">THAY ĐỔI SỐ LƯỢNG BỆNH NHÂN KHÁM TRONG NGÀY</button>
    <button type="button" class="btn btn-danger btn_cn">THAY ĐỔI SỐ TIỀN KHÁM</button>
</div>
{% endblock %}